#participantDetailsDiv {
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
    flex-wrap: wrap;
}

#submitParticipantDetails {
    width: 30%;
    align-self: center;
}

span {
    width: 40%;
}

p {
    display: flex;
    justify-content: space-between;
}

select {
    
}

input {
    width: 50%;
}